/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/conva -profile test,<docker/singularity>
 */

params {
  config_profile_name        = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  
  // Limit resources so that this can run on GitHub Actions
  max_cpus   = 2
  max_memory = 6.GB
  max_time   = 6.h

  // Input data
  input          = "/home/AD/rbhuller/nf-core-conva/assets/samplesheet_test.csv"
  fasta          = "/home/AD/rbhuller/my_data/test_data/genomes/GRCh38_subseq_chr21.fasta"
  annotationfile = "/home/AD/rbhuller/my_data/test_data/illumina/txt/refFlat_hg38_15_without_chr.txt"

}
