/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/conva -profile test,<docker/singularity>
 */

params {
  config_profile_name        = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  
  // Limit resources so that this can run on GitHub Actions
  max_cpus   = 2
  max_memory = 6.GB
  max_time   = 6.h

  // Input data
  input          = "$projectDir/assets/samplesheet_test.csv"
  fasta          = "https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/conva/genomes/GRCh38_subseq_chr21.fasta"
  annotationfile = "https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/conva/txt/refFlat_hg38_15_without_chr.txt"
  //vcf            = "$projectDir/assets/vcf/common_all_20180418_sorted.vcf.gz"
  //tbi            = "$projectDir/assets/vcf/common_all_20180418_sorted.vcf.gz.tbi"
}

